
<body>
<!---Header-->

<div class="Header">
<div class="innerheader"></div>
</div>
<p style="font-size: 40px; font-weight:bold; text-align: center;">Smart Gear</p>
<nav><a href="#1" target="_blank" font-size: 20px;">Home</a></nav>
<nav><a href="#2" target="_blank" font-size: 20px;">Watches</a></nav>
<nav><a href="#3" target="_blank" font-size: 20px;">About</a></nav>
<nav><a href="#4" target="_blank" font-size: 20px;">Contact Us</a></nav>
<div>
    <hr size="3" , width="100%"></hr>



    <!------Home---->
    <h1 id="1"style="font-size: 40px; font-weight:bold; text-align: center;">Home</h1>
</div>
  <p style="font-size: 20px;">
    We fuse fashion and innovative technology, to allow for smart devices to become a vehicle of personal style, 
connecting every aspect of future lives. From Amalfit’s first product, a market-leading sensor innovation, 
to the world’s first curved display, every series of SmartGear ever-evolving product range is a testament to
our pursuit of bringing smart hardware technology and innovative product design.
<span><a href="#Home" target="_blank"> <img src="../Asset/home/Smartwatches.jpg" alt="Logo"></a></span>
</p>
<div>
    <hr size="3" , width="100%"></hr>
    <!------Watches---->
    <h1 id="2"style="font-size: 40px; font-weight:bold; text-align: center;">Watches</h1>
    <h1 style="font-size: 40px; font-weight:bold;">Apple</h1>
    <p> <a href="Apple"> <img src="../Asset/Apple watches/Apple-Series-6.jpg" alt="Apple-Series-6" style="height: 250px;"></a>
       <a href="Apple"> <img src="../Asset/Apple watches/Apple-Series-7.jpg" alt="Apple-Series-7"style="height: 250px;"></a>
       <a href="Apple"><img src="../Asset/Apple watches/Apple-Series-8.jpg" alt="Apple-Series-8"style="height: 250px;"></a> 
    <a href="Apple"><img src="../Asset/Apple watches/Apple-Series-Ultra.jpg" alt="Apple-Series-Ultra"style="height: 250px;"></a>
    <h1 style="font-size: 40px; font-weight:bold;">Samsung</h1>
    <a href="Samsung"><img src="../Asset/samsung watches/Samsung watche 3.jpg" alt="Watch 3"style="height: 250px;"></a>
    <a href="Samsung"><img src="../Asset/samsung watches/Samsung watche 4.jpg" alt="Samsung"style="height: 250px;"></a>
    <a href="Samsung"><img src="../Asset/samsung watches/Samsung watche 5 pro.jpg" alt="Samsung"style="height: 250px;"></a>
    <a href="Samsung"><img src="../Asset/samsung watches/Samsung watche 5.jpg" alt="Samsung"style="height: 250px;"></a>
    <h1 style="font-size: 40px; font-weight:bold;">Huawei</h1>
    <a href="Huawei"><img src="../Asset/Huawei/huawei_watch_gt_2.jpg" alt="Huawei"style="height: 250px;"></a>
    <a href="Huawei"><img src="../Asset/Huawei/huawei_fit.jpg" alt="huawei_fit"style="height: 250px;"></a>
    <a href="Huawei"><img src="../Asset/Huawei/huawei_fortuna.jpg" alt="huawei_fortuna"style="height: 250px;"></a>
    <a href="Huawei"><img src="../Asset/Huawei/huawei_watch_gt_3.jpg" alt="huawei_watch_gt_3"style="height: 250px;"></a>
</p>
<hr size="3" , width="100%"></hr>
</div>
<div>
<!---About--->
<h1 id="3"style="font-size: 40px; font-weight:bold; text-align: center;">About</h1>
<p style="font-size: 20px;"> We fuse fashion and innovative technology, to allow for smart devices to become a vehicle of personal style, connecting every aspect
     of future lives.From Smart Gear's first product,a market-leading sensor innovation, to the world’s first curved display, every series
      of Smart Gear’s ever-evolving product range is a testament to our pursuit of bringing smart hardware technology and innovative product design together.
     Since our founding, we have always wanted to help users connect better in their lives and empower them with smart living technologies in different scenarios.
     In the future, Smart Gear will lead the way in innovation and design, creating original product forms and insightful designs, bringing a wide range of attractive choices to consumers.
    As a companion to our users, we strive to lead a healthy and active lifestyle– activating users’ inner drive, so they live a life full of passion and excitement. 
    As a fashionable and cutting-edge technology accessory brand, we are the embodiment of unique styles–fusing fashion and innovative technology, 
    so every person has the freedom to express themselves in their own unique way.</p>
    <hr size="3" , width="100%"></hr>
</div>

<div>
    <!------Contact---->
    <h1 id="4" style="font-size: 40px; font-weight:bold; text-align: center;">Contact</h1>
   
        <table cellspacing="35" cellpading="5"
            style="text-align: center; font-size: 20px; font-weight: bold; background-color:  rgb(255, 255, 255) ;">
                <td style=>Phone Number :</td>
                <td>034---------</td>
            </tr>
            <tr>
                <td style=>Twitter :</td>
                <td><a href="https://twitter.com/uskt_sialkot?lang=en">Uskt Twitter</a></td>
            </tr>
            <tr>
                <td style=>Instagram :</td>
                <td><a href="https://www.instagram.com/uskt_sialkot/?hl=en">Uskt Instagram</a></td>
            </tr>
            <tr>
                <td style=>Facebook:</td>
                <td><a href="https://www.instagram.com/uskt_sialkot/?hl=en">Uskt Facebook</a></td>
            </tr>

        </table>
   
</div>



</body>
